body {
  background: #e65951;
}

.countdownContainer {
  position: flex;
  top: 40px;
  left: 40px;
  transform : translateX(-50) translateY(-50);
  text-align: center;
  background: #7edae0;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 0 0 5px 3px #ccc;
}
.clockInfo {
  position: center;
  text-align: center;
}

#squareOne {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}

#squareTwo {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}

#squareThree {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}

#squareFour {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}
div#box
{
    width:25px;
    height:25px;
    background-color: grey;
    border-color: black;
    border-radius: 50%;
    display: inherit;
}

.info {
  font-size: 60px;
}
