body {
  background: #e65951;
}
.startButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #86ff14), color-stop(1, #7c9439));
	background:-moz-linear-gradient(top, #86ff14 5%, #7c9439 100%);
	background:-webkit-linear-gradient(top, #86ff14 5%, #7c9439 100%);
	background:-o-linear-gradient(top, #86ff14 5%, #7c9439 100%);
	background:-ms-linear-gradient(top, #86ff14 5%, #7c9439 100%);
	background:linear-gradient(to bottom, #86ff14 5%, #7c9439 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#86ff14', endColorstr='#7c9439',GradientType=0);
	background-color:#86ff14;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7c9439), color-stop(1, #86ff14));
	background:-moz-linear-gradient(top, #7c9439 5%, #86ff14 100%);
	background:-webkit-linear-gradient(top, #7c9439 5%, #86ff14 100%);
	background:-o-linear-gradient(top, #7c9439 5%, #86ff14 100%);
	background:-ms-linear-gradient(top, #7c9439 5%, #86ff14 100%);
	background:linear-gradient(to bottom, #7c9439 5%, #86ff14 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9439', endColorstr='#86ff14',GradientType=0);
	background-color:#7c9439;
}
.startButton:active {
	position:relative;
	top:1px;
}

.stopButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff1414), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #ff1414 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #ff1414 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #ff1414 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #ff1414 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #ff1414 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1414', endColorstr='#ff0000',GradientType=0);
	background-color:#ff1414;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.stopButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #ff1414));
	background:-moz-linear-gradient(top, #ff0000 5%, #ff1414 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #ff1414 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #ff1414 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #ff1414 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #ff1414 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff1414',GradientType=0);
	background-color:#ff0000;
}
.stopButton:active {
	position:relative;
	top:1px;
}

.resetButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #14f7ff), color-stop(1, #0091ff));
	background:-moz-linear-gradient(top, #14f7ff 5%, #0091ff 100%);
	background:-webkit-linear-gradient(top, #14f7ff 5%, #0091ff 100%);
	background:-o-linear-gradient(top, #14f7ff 5%, #0091ff 100%);
	background:-ms-linear-gradient(top, #14f7ff 5%, #0091ff 100%);
	background:linear-gradient(to bottom, #14f7ff 5%, #0091ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14f7ff', endColorstr='#0091ff',GradientType=0);
	background-color:#14f7ff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.resetButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0091ff), color-stop(1, #14f7ff));
	background:-moz-linear-gradient(top, #0091ff 5%, #14f7ff 100%);
	background:-webkit-linear-gradient(top, #0091ff 5%, #14f7ff 100%);
	background:-o-linear-gradient(top, #0091ff 5%, #14f7ff 100%);
	background:-ms-linear-gradient(top, #0091ff 5%, #14f7ff 100%);
	background:linear-gradient(to bottom, #0091ff 5%, #14f7ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0091ff', endColorstr='#14f7ff',GradientType=0);
	background-color:#0091ff;
}
.resetButton:active {
	position:relative;
	top:1px;
}

.countdownContainer {
  position: flex;
  top: 40px;
  left: 40px;
  transform : translateX(-50) translateY(-50);
  text-align: center;
  background: #7edae0;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 0 0 5px 3px #ccc;
}

.clockInfo {
  position: center;
  text-align: center;
}

.scoresContainer {
  position: flex;
  top: 2px;
  left: 2px;
  text-align: center;
  background: #fbda84;
  border: 1px solid #999;
  padding: 2px;
}


#squareOne {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}

#squareTwo {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}

#squareThree {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}

#squareFour {
  width:25px;
  height:25px;
  background-color: grey;
  border-color: black;
  border-radius: 50%;
  display: inherit;
}
div#box
{
    width:25px;
    height:25px;
    background-color: grey;
    border-color: black;
    border-radius: 50%;
    display: inherit;
}

.info {
  font-size: 60px;
}

.scoreInput {
  font-size: 16px;
  width: 20px;
}
